    <main id="serv-section">
        <h2> Serviços </h2>
        <h3> Iluminação </h3>
        <p> Equipamos seu evento com o melhor da iluminação. Pacotes de acordo com seu evento:</p>
        <div class="preços">
            <div>
                <p> P </p>
                <p>R$ 300,00 </p>
            </div>
            <div>
                <p> M </p>
                <p>R$ 600,00 </p>
            </div>
            <div>
                <p> G </p>
                <p>R$ 900,00 </p>
            </div>
        </div>

        <h3> Som </h3>
        <p> O som do seu evento merece a melhor qualidade. Pacotes: </p>
        <div class="preços">
            <div>
                <p> P </p>
                <p>R$ 400,00 </p>
            </div>
            <div>
                <p> M </p>
                <p>R$ 800,00 </p>
            </div>
            <div>
                <p> G </p>
                <p>R$ 1200,00 </p>
            </div>
        </div>

        <h3> Limpeza </h3>
        <p> Faça seu evento e não se preocupe com a limpeza. Pacotes: </p>
        <div class="preços">
            <div>
                <p> P </p>
                <p>R$ 300,00 </p>
            </div>
            <div>
                <p> M </p>
                <p>R$ 600,00 </p>
            </div>
            <div>
                <p> G </p>
                <p>R$ 900,00 </p>
            </div>
        </div>

        <h3> Acessibilidade </h3>
        <p>Nos preocupamos com a inclusão de todos ! O local é preparado para receber confortavelmente os deficientes
            físicos e visuais.</p>
        <div class="serv-img">
            <img src="img/acessibilidade 1.jpeg" alt="Homem subindo rampa em cadeira de rodas">
            <img src="img/acessibilidade 2.jpeg" alt="Cego sendo guiado por piso tatil">
            <img src="img/acessibilidade 3.jpeg" alt="Rampa de acesso em porta">
        </div>

        <h3> Estacionamento </h3>
        <p>Estamos conveniados ao estacionamento Carpark para melhor atende-los. Espaço amplo para a segurança do seu
            carro.</p>
        <div class="serv-img">
            <img src="img/estacionamento 1.jpeg" alt="Estacionamento vazio">
            <img src="img/estacionamento 2.jpeg" alt="Estacionamento cheio">
            <img src="img/estacionamento 3.jpeg" alt="Estacionamento cheio 2">
        </div>

    </main>