<main>

        <h2> Galeria</h2>

        <section class="container gallery-container">

            <!--Slide-->
            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/anime2.jpg" alt="Evento de Cosplay 1"/>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/anime3.jpg" alt="Evento de Cosplay 2"/>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/anime4.jpg" alt="Evento de Cosplay 3"/>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/anime5.jpg" alt="Evento de Cosplay 4"/>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/apresentação1.jpg" alt="Palestra 1"/>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/apresentação2.jpeg" alt="Palestra 2"/>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/balada.jpg" alt="Balada 1"/>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/balada2.jpg" alt="Balada 2"/>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/balada4.jpg" alt="Balada 3"/>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/balada 7.jpg" alt="Balada 4"/>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/casamento1.png" alt="Casamento 1"/>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/casamento2.jpg" alt="Casamento 2"/>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/casamento4.jpg" alt="Casamento 3"/>
            </div>

            <div class="mySlides fade">
                <img class="imgslide" src="~/img/Galeria/casamento5.jpg" alt="Casamento 4"/>
            </div>

            <!--Navigation-->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </section>
        <!--End of galery-->

    </main>